<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Npm Word Game</title>
</head>
<body>
    <h1>Word Game</h1>
	<br/>
	<h2>Instructions</h2>
	<p>
		Here you can play a simple word game. A random set of characters has been generated, which you can see below. Your role is to build valid words from those characters. The only other pieces of information you are given are the number of words of valid words that can be formed, and your score so far.
	</p>
    <br/>
    <h2>Random Characters: <%= randomString %></h2>
    <br/>
    <h2>Score: <%= score %> / <%= formableWordsCount %></h2>
    <br/>
    <h2>Correct Words:</h2>
    <ul>
        <% foundWordsList.forEach(function(word) { %>
            <li><%= word %></li>
        <% }); %>
    </ul>
    <br/>
    <h2>Enter Word:</h2>
    <form action="/submit" method="POST">
        <input type="text" name="word" required />
        <button type="submit">Submit</button>
    </form>
</body>
</html>